{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Portfolio Website HTML CSS</title>
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
            rel='stylesheet'>
    </head>
    <body>

        <header class="header">
            <a href="#home" class="logo">Younes.</a>
            <div class="bx bx-menu"
                id="menu-icon"></div>
            <nav class="navbar">
                <a href="#home" class="active">Home</a>
                <a href="#about">About</a>
                <a href="#education">Education</a>
                <a href="#skills">Skills</a>
                <a href="#contact">Contact</a>
            </nav>
        </header>

        <section class="home" id="home">
            <div class="home-content">
                <h1>Hi, I am <span>Younes Veisi</span></h1>
                <div class="text-animate">
                    <h3>Python Developer</h3>
                </div>
                <p>I am Younes Veisi, and I would like to express my interest in
                    joining your team. As someone who is passionate about
                    programming, I thrive in challenging environments where my
                    skills and knowledge can be put to the test. I am confident
                    that I can contribute positively to your organization by
                    sharing my expertise and motivation with your team.

                    One of my strongest qualities is my ability to work well in
                    a team and solve complex problems. My self-motivation and
                    dynamic approach to work have been instrumental in my
                    professional success thus far, and I am highly dedicated to
                    expanding my skills in the programming field.

                    I believe that I can be an asset to your team and help
                    advance your organizational goals. Thank you for considering
                    my application.

                    Sincerely,
                    Younes Veisi</p>
                <div class="btn-box">
                    <a href="{%static 'pdf/resume.pdf'%}" class="btn" download>Download CV</a>
                    <a href="#" class="btn">Let's talk</a>
                </div>
            </div>
            <div class="home-sci">
                <a href="https://www.linkedin.com/in/younes-veisi-695460245/"><i
                        class='bx bxl-linkedin'></i></a>
                <a
                    href="https://instagram.com/younes.veisi1374?igshid=ZDdkNTZiNTM"><i
                        class='bx bxl-instagram'></i></a>
                <a href="mailto:younesveisi1374@gmail.com"><i class='bx
                        bxl-gmail'></i></a>
                <a href="callto:09187798683"><i class='bx bx-phone'></i></a>
                <a href="https://github.com/younesveisi1374"><i class='bx
                        bxl-github'></i></a>
            </div>
            <span class="home-imgHover"></span>
        </section>
        <section class="about" id="about">
            <h2 class="heading">About <span>Me</span></h2>
            <div class="about-img">
                <img src="{%static 'images/about.png'%}" alt="">
                <span class="circle-spin"></span>
            </div>
            <div class="about-content">
                <h3>Python Developer!</h3>
                <p>As someone interested in Python development, you'll get to
                    work with a high-level programming language that's known for
                    its simplicity, readability, and ease of use. Python is
                    versatile and can be used for web development, data
                    analysis, scientific computing, machine learning, and more.
                    You'll also be part of a thriving community of developers
                    who contribute to open-source libraries and frameworks,
                    making Python highly accessible. With Python, you'll have
                    access to a wide range of tools and resources that simplify
                    the process of building and maintaining complex applications
                    with minimal code.</p>

                <div class="btn-box btns">
                    <a href="https://www.coursera.org/articles/python-developer"
                        class="btn">Read More</a>
                </div>
            </div>
        </section>
        <section class="education" id="education">
            <h2 class="heading">My <span>Journey</span></h2>
            <div class="education-row">
                <div class="education-column">
                    <h3 class="title">Education</h3>
                    <div class="education-box">
                        <div class="education-content">
                            <div class="content">
                                <div class="year">
                                    <i class='bx bxs-calendar'> 2017 - 2018</i>
                                </div>
                                <h3>Master Degree - University</h3>
                                <p>about my Degreeabout my
                                    Degreeabout my Degreeabout my Degreeabout my
                                    Degreeabout my Degree</p>
                            </div>
                        </div>
                        <div class="education-content">
                            <div class="content">
                                <div class="year">
                                    <i class='bx bxs-calendar'> 2018 - 2019</i>
                                </div>
                                <h3>Master Degree - University</h3>
                                <p>about my Degreeabout my
                                    Degreeabout my Degreeabout my Degreeabout my
                                    Degreeabout my Degree</p>
                            </div>
                        </div>
                        <div class="education-content">
                            <div class="content">
                                <div class="year">
                                    <i class='bx bxs-calendar'> 2019 - 2020</i>
                                </div>
                                <h3>Master Degree - University</h3>
                                <p>about my Degreeabout my
                                    Degreeabout my Degreeabout my Degreeabout my
                                    Degreeabout my Degree</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="education-column">
                    <h3 class="title">Experience</h3>
                    <div class="education-box">
                        <div class="education-content">
                            <div class="content">
                                <div class="year">
                                    <i class='bx bxs-calendar'> 2017 - 2018</i>
                                </div>
                                <h3>Web Developer - Company</h3>
                                <p>about my Degreeabout my
                                    Degreeabout my Degreeabout my Degreeabout my
                                    Degreeabout my Degree</p>
                            </div>
                        </div>
                        <div class="education-content">
                            <div class="content">
                                <div class="year">
                                    <i class='bx bxs-calendar'> 2018 - 2019</i>
                                </div>
                                <h3>Web Developer - Company</h3>
                                <p>about my Degreeabout my
                                    Degreeabout my Degreeabout my Degreeabout my
                                    Degreeabout my Degree</p>
                            </div>
                        </div>
                        <div class="education-content">
                            <div class="content">
                                <div class="year">
                                    <i class='bx bxs-calendar'> 2019 - 2020</i>
                                </div>
                                <h3>Web Developer - Company</h3>
                                <p>about my Degree about my
                                    Degreeabout my Degreeabout my Degreeabout my
                                    Degreeabout my Degree</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="skills" id="skills">
            <h2 class="heading">My <span>Skills</span></h2>
            <div class="skills-row">
                <div class="skills-column">
                    <h3 class="title">Coding Skills</h3>
                    <div class="skills-box">
                        <div class="skills-content">
                            <div class="progress">
                                <h3>HTML <span>90%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                            <div class="progress">
                                <h3>CSS <span>80%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                            <div class="progress">
                                <h3>Javascript <span>20%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                            <div class="progress">
                                <h3>Python <span>90%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skills-column">
                    <h3 class="title">Professional Skills</h3>
                    <div class="skills-box">
                        <div class="skills-content">
                            <div class="progress">
                                <h3>Web Design<span>40%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                            <div class="progress">
                                <h3>Web Development<span>60%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                            <div class="progress">
                                <h3>Graphic Design<span>30%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                            <div class="progress">
                                <h3>Data Analysis<span>50%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact" id="contact">
            <h2 class="heading">Contact <span>Me!</span></h2>
            <form action="#">
                <div class="input-box">
                    <div class="input-field">
                        <input type="text" placeholder="Full Name" required>
                        <span class="focus"></span>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Email Address" required>
                        <span class="focus"></span>
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        <input type="number" placeholder="Mobile Number" required>
                        <span class="focus"></span>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Email Subject" required>
                        <span class="focus"></span>
                    </div>
                </div>
                <div class="textarea-field">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                    <span class="focus"></span>
                </div>
                <div class="btn-box btns">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </section>
        <footer class="footer">
            <div class="footer-text">
                <p>CopyRight &copy; 2023 by Younes Veisi</p>
            </div>
            <div class="footer-iconTop">
                <a href="#"><i class='bx bx-up-arrow-alt' ></i></a>
            </div>
        </footer>
        <script src="{%static 'js/script.js'%}"></script>
    </body>
</html>